body {
  background: linear-gradient(300deg, white 30%, #fcb0bd 100%);
  height: 100%;
}

.container {
  background-image: url('img/shimmering-multistars.gif');
}

.content {
  display: inline-block;
  background: white;
  margin: 4%;
  padding: 3%;
  width: 86%;
}

.icon{
  height: 28px;
}
